.DS_Store
*.pem
node_modules

# docker volumes
/volumes/verdaccio/storage
/volumes/nodereddata/.npm
/volumes/nodereddata/lib
/volumes/nodereddata/node_modules

#hermes-cli
/hermes-cli/dist
/hermes-cli/node_modules

#hermes-hub
/hermes-hub/node_modules
/hermes-hub/dist

# turbo
.turbo